<div class="container mt-5">
  <div class="row">
    <div class="col">


      <div class="card-columns" id="listado" *ngIf="farmacias; else loading">

        <div class="card" *ngFor="let farmacia of farmacias">
          <span>desde Subscribe</span>
          <div class="card-body" id="card">
            <h6 class="card-title">
              {{ farmacia.fecha | date: "dd/MM/yyyy" }}
            </h6>
            <h4 class="card-title">{{ farmacia.local_nombre | lowercase }}</h4>
            <h5 class="card-title">{{ farmacia.comuna_nombre }}</h5>
            <p class="card-text">
              Horario: {{ farmacia.funcionamiento_hora_apertura }}
              {{ farmacia.funcionamiento_hora_cierre }}
            </p>
            <h6>Direccion {{ farmacia.local_direccion }}</h6>
            <p>Telf {{ farmacia.local_telefono }}</p>
            <button id="mapa" class="btn btn-block btn-outline-primary"
              [routerLink]="['/mapa', farmacia.local_lat, farmacia.local_lng]">
              Mapa
            </button>
          </div>
        </div>
      </div>


      <div class="card-columns" id="listado" *ngIf="farmacias$ |async; else loading">
        <div class="card" *ngFor="let farmacia of farmacias$ |async">
          <span>desde Async</span>
          <div class="card-body" id="card">
            <h6 class="card-title">
              {{ farmacia.fecha | date: "dd/MM/yyyy" }}
            </h6>
            <h4 class="card-title">{{ farmacia.local_nombre | lowercase }}</h4>
            <h5 class="card-title">{{ farmacia.comuna_nombre }}</h5>
            <p class="card-text">
              Horario: {{ farmacia.funcionamiento_hora_apertura }}
              {{ farmacia.funcionamiento_hora_cierre }}
            </p>
            <h6>Direccion {{ farmacia.local_direccion }}</h6>
            <p>Telf {{ farmacia.local_telefono }}</p>
            <button id="mapa" class="btn btn-block btn-outline-primary"
              [routerLink]="['/mapa', farmacia.local_lat, farmacia.local_lng]">
              Mapa
            </button>
          </div>
        </div>
      </div>




      <ng-template id="loading" #loading>
        <span>Cragando....</span>
      </ng-template>
    </div>
  </div>
</div>
