<div class="container mt-5">
  <form class="form-horizontal p-t-20" [formGroup]="datoForm" (submit)="verificaCampos()">


    <div class="form-group row">
      <label for="exampleInputuname3" class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon"><i class="ti-user"></i></div>
          <input type="text" formControlName="first_name" id="first_name" class="form-control"
            placeholder="first name" />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="exampleInputuname3" class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon"><i class="ti-user"></i></div>
          <input type="text" formControlName="last_name" id="last_name" class="form-control" placeholder="last name" />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="exampleInputuname3" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon"><i class="ti-user"></i></div>
          <input type="text" formControlName="email" class="form-control" id="email" placeholder="first name" />
        </div>
      </div>
    </div>



    <div class="form-group row m-b-0">
      <div class="offset-sm-3 col-sm-9">
        <button type="submit" [disabled]="datoForm.invalid" class="btn btn-success waves-effect waves-light">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
{{data}}
