<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand">DevOps</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of menuItems" class="nav-item">
            <a class="nav-link" [routerLink]="item.url" routerLinkActive="active">{{ item.titulo }}</a>
      </li>
    </ul>
    <span class="navbar-text">
      Angular
    </span>
  </div>
</nav>
