<div class="container mt-5">

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" >local_id</th>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos">
      <th id="id">{{ dato.id  }}</th>
      <th id="email">{{ dato.email }}</th>
      <th id="first_name">{{ dato.first_name}}</th>
      <th id="last_name">{{ dato.last_name}}</th>
      <th> <a
        class="cursor"
        data-toggle="tooltip"
        data-original-title="Detalle"
        [routerLink]="['/tabla', dato.id]"
      >
        detalle
      </a>
</th>
    </tr>
  </tbody>
</table>
</div>
