<div class="container mt-5">
  <h2>Form Angular</h2>
  <div class="row">
    <div class="col-md-3">Nro 1</div>
    <div class="col-md-3">
      <input type="text" formControlName="n1" #n1 id="n1" class="form-control" required="required" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">Nro 2</div>
    <div class="col-md-3">
      <input type="text" formControlName="n2" #n2 id="n2" class="form-control" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3" id='boton'>
      <button type="button" class="btn btn-outline-primary" (click)="pirntAdd(n1.value, n2.value)" #calc id="calc">
        Calcular
      </button>
    </div>
    <div class="col-md-3">
      <input type="text" #result id="result" class="form-control" />
    </div>
  </div>
</div>
